.mod-nav-topo{
  background-color:#F5F5F5;
  font-size: 18px;
  color:black;
}

.mod-nav-tab{
  background-color:#F5F5F5;
  font-size: 15px;
}

 .mob-modal-usuario{
   padding: 10px;
 }

 .mob-msg-sucesso{
   width: 600px;
   line-height: 0px;
   background-color: #fff;
   box-shadow: 0px 0px 0px #222;
   color:green;
   font-size: 20px;


   position: absolute;
   top: 55px;
   left:50%;
   margin-left: -150px;
   border-color: #fff;
 }
